:root {
    --background: #ffffff;
    --text: #3a3a3a;
    --link: #2569b8;
    --success-green: #4b990c;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
    width: 100%;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.5;
    color: var(--text);
}

button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.5;
}

.downloads-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0px;
    padding: 20px;
    gap: 0px;
}

.downloads-section > :last-child {
    border-bottom: none;
}

.item-with-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0px;
    border-bottom: 1px solid var(--text);
    padding: 24px;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-without-img {
    display: flex;
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid var(--text);
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin: auto;
}

.item-with-img h1, 
.item-with-img p, 
.item-without-img h1, 
.item-without-img p {
    margin: 0 0 8px 0;
    text-align: center;
}

.download-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.download-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--text);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    transition: all 0.2s;
}

.download-button:hover,
.download-button:focus {
    color: white;
    background-color: var(--text);
}

.download-button:active {
    color: white;
    background-color: var(--link);
    border-color: transparent;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 20px;
    border-top: 1px solid var(--text);
}

.footer p {
    text-align: center;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid var(--text);
    color: var(--on-primary);
    background-color: var(--background);
    top: 0;
    z-index: 10;
}

.logo {
    color: var(--text);
    margin: 16px;
}

.navbar {
    list-style: none;
    padding: 0 20px 0 0;
    display: flex;
    gap: 18px;
}

.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transform: translateY(0px);
    transition: transform 0.2s ease;
}

.navbar li:hover {
    transform: translateY(-2px);
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: var(--link);
    cursor: pointer;
}

#downloads {
    scroll-margin-top: 50px;
}

#suggestions {
    scroll-margin-top: 50px;
}


.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://faseehapps.github.io/assets/mountains-1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0px;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    5% { transform: translateY(-10px); }
    10% { transform: translateY(0); }
    15% { transform: translateY(-10px); }
    20% { transform: translateY(0px); }
}

@keyframes colorChange {
    0% { color: #b5d6af; }
    50% { color: #bde6e7; }
    100% { color: #b5d6af; }
}

.header-title {
    font-size: 64px;
    text-align: center;
    margin: 5px;
    text-shadow: 0 2px 4px black;
    animation: bounce 5s infinite, colorChange 4s infinite;
}

.header-text {
    margin: 10px;
    color: white;
    text-align: center;
    text-shadow: 0 2px 4px black;
}

.github-btn {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    color: white;
    margin: 20px 0;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.github-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  
.github-btn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--text);
    margin: 0;
    padding: 0;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 0 20px 0;
    padding: 40px;
    padding-top: 60px;
    border-top: 1px solid var(--text);
}

.review-form-list-div { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.review-form-div {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 90px;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}

.review-form {
    width: 100%;
    padding: 0px;
}
    
.review-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
    
.review-form input, .review-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid var(--text);
    background-color: transparent;
}

.review-form textarea {
    height: 140px;
    resize: none;
}

.review-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 80px 20px 80px 20px;
    text-align: center;
    
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease-in-out forwards;
}

.review-thanks-icon {
    width: 64px;
    height: 64px;
    background-color: var(--success-green);
    -webkit-mask: url('https://faseehapps.github.io/assets/check-circle.svg') no-repeat center / contain;
    mask: url('https://faseehapps.github.io/assets/check-circle.svg') no-repeat center / contain; /* For browsers which doesn't support -webkit-mask */
}

.review-list-container {
    display: flex;
    flex-direction: column;
}

.review-list { /* A list of review divisions */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.review {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.review p {
    text-align: left;
    margin: 6px;
    padding: 0px;
}

.submit-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--text);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    transition: all 0.2s;
}

.submit-button:hover,
.submit-button:focus {
    color: white;
    background-color: var(--text);
}

.submit-button:active {
    color: white;
    background-color: var(--link);
    border-color: transparent;
}

.submit-button:disabled {
    color: white;
    background-color: rgb(163, 163, 163);
    border-color: transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 790px) {
    .sticky-header {
        display: none;
    }
}

@media (max-width: 768px) {
    .item-with-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-with-img h1, 
    .item-with-img p, 
    .item-without-img h1, 
    .item-without-img p {
        text-align: left;
    }

    .item-content {
        align-items: flex-start;
        padding: 40px 0;
    }

    .download-buttons-container {
        justify-content: left;
    }

    .review-form-list-div {
        grid-template-columns: 1fr;
    }

    .review-form-div {
        position: static;
    }
}

@media (max-width: 525px) {
    .review-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 450px) {
    .review-container {
        padding-left: 18px;
        padding-right: 18px;
    }

    .item-with-img,
    .item-without-img {
        padding-left: 4px;
        padding-right: 4px;
    }
}
