/* Colors */
:root {
    --background: #ffffff;
    --primary: #3a3a3a;
    --shadow: #00000028;
    --panel: #eeeeee;
}

[data-theme="dark"] {
    --background: #333;
    --primary: #fff;
    --shadow: #ffffff36;
    --panel: #3d3d3d;
}

/* Global */

body {
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
}

h1, h2, h3, h4, p {
    font-family: "Roboto", serif;
    color: var(--primary);
}

/* Layout */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--primary);
    color: var(--on-primary);
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 10;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.item {
    display: flex;
    background-color: var(--panel);
    box-shadow: 0 10px 0px var(--shadow);
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.item h1{
    margin: 0 0 8px 0;
}

.item p {
    margin: 0 0 8px 0;
}

.download-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
}

/* Components */

.logo {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--primary);
    margin: 16px;
}

.theme-toggle-btn {
    font-family: "Roboto", serif;
    font-size: 18px;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 var(--shadow);
    border-radius: 0px;
    padding: 8px;
    margin: 16px;
    transition: color 0.3s ease ,background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.theme-toggle-btn:hover {
    cursor: pointer;
    color: var(--background);
    background-color: var(--primary);
    border: 1px solid transparent;
    box-shadow: 0 0 15px var(--shadow);
}

.download-button {
    font-size: 18px;
    padding: 8px;
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    transform: translateY(-6px);
    box-shadow: 0 6px 0 var(--shadow);
    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease;
}

.download-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 0 var(--shadow);
}

.download-button:active {
    transform: translateY(0);
    box-shadow: 0 0 0 var(--shadow);
}
