.downloads-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0px;
    padding: 20px;
    gap: 0px;
}

.downloads-section > :last-child {
    border-bottom: none;
}

.item-with-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0px;
    border-bottom: 1px solid var(--text);
    padding: 24px;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-without-img {
    display: flex;
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid var(--text);
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin: auto;
}

.item-with-img h1, 
.item-with-img p, 
.item-without-img h1, 
.item-without-img p {
    margin: 0 0 8px 0;
    text-align: center;
}

.download-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.download-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--text);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    transition: all 0.2s;
}

.download-button:hover,
.download-button:focus {
    color: white;
    background-color: var(--text);
}

.download-button:active {
    color: white;
    background-color: var(--link);
    border-color: transparent;
}

@media (max-width: 768px) {
    .item-with-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-with-img h1, 
    .item-with-img p, 
    .item-without-img h1, 
    .item-without-img p {
        text-align: left;
    }

    .item-content {
        align-items: flex-start;
        padding: 40px 0;
    }

    .download-buttons-container {
        justify-content: left;
    }
}
