.review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--text);
    margin: 0;
    padding: 0;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 0 20px 0;
    padding: 40px;
    padding-top: 60px;
    border-top: 1px solid var(--text);
}

.review-form-list-div { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.review-form-div {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 90px;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    .review-form-list-div {
        grid-template-columns: 1fr;
    }

    .review-form-div {
        position: static;
    }
}

.review-form {
    width: 100%;
    padding: 0px;
}
    
.review-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
    
.review-form input, .review-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid var(--text);
    background-color: transparent;
}

.review-form textarea {
    height: 140px;
    resize: none;
}

.review-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 80px 20px 80px 20px;
    text-align: center;
    
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.review-thanks-icon {
    width: 64px;
    height: 64px;
    background-color: var(--success-green);
    -webkit-mask: url('https://faseehapps.github.io/assets/check-circle.svg') no-repeat center / contain;
    mask: url('https://faseehapps.github.io/assets/check-circle.svg') no-repeat center / contain; /* For browsers which doesn't support -webkit-mask */
}

.review-list-container {
    display: flex;
    flex-direction: column;
}

.review-list { /* A list of review divisions */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.review {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.review p {
    text-align: left;
    margin: 6px;
    padding: 0px;
}

.submit-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--text);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    transition: all 0.2s;
}

.submit-button:hover,
.submit-button:focus {
    color: white;
    background-color: var(--text);
}

.submit-button:active {
    color: white;
    background-color: var(--link);
    border-color: transparent;
}
