@media (max-width: 790px) {
    .sticky-header {
        display: none;
    }
}

@media (max-width: 768px) {
    .item-with-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-img {
        max-height: 68vh;
    }

    .item-with-img h1, 
    .item-with-img p, 
    .item-without-img h1, 
    .item-without-img p {
        text-align: left;
    }

    .item-content {
        align-items: flex-start;
        padding: 40px 0;
    }

    .download-buttons-container {
        justify-content: left;
    }

    .review-form-list-div {
        grid-template-columns: 1fr;
    }

    .review-form-div {
        position: static;
    }
}

@media (max-width: 525px) {
    .review-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 450px) {
    .review-container {
        padding-left: 18px;
        padding-right: 18px;
    }

    .item-with-img,
    .item-without-img {
        padding-left: 4px;
        padding-right: 4px;
    }
}
